.my-btn{
    padding: 7px 15px;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.svg-icon{
    width: 25px;
}
.my-bg{
    background: rgba(254,243,199)
}



/* banner part  */

.banner-text h1{
    font-size: 4rem;
}